<table border="1" cellspacing="0" cellpadding="5">
  <caption><%= @instances.count %> Instance</caption>
  <tr>
    <th>instance_id</th>
    <th>image_id</th>
    <th>status</th>
    <th>keypair_name</th>
    <th>authorized_keys</th>
    <th>public_ip</th>
    <th>internal_ip</th>
  </tr>
  <% @instances.each do |instance| %>
    <tr>
      <td><a href="<%= instance.instance_id %>"><%= instance.instance_id %></a></td>
      <td><%= instance.image_id %></td>
      <td><%= instance.status %></td>
      <td><%= instance.keypair_name %></td>
      <td><%= instance.authorized_keys[0..10] %></td>
      <td><%= instance.public_ip %></td>
      <td><%= instance.internal_ip %></td>
    </tr>
  <% end %>
</table>